* {
  box-sizing: border-box;
}

body {
  padding: .5rem;
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: #333;
}

.game-board {
  height: 100%;
  width: 100%;
  background-color: white;
  display: block;
}

.text-section {
  margin-left: .5rem;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  min-height: 5rem;
}

.guess-form {
  display: flex;
  flex-direction: column;
}

.guess-input {
  margin: .25rem 0;
}

.guess-btn {
  cursor: pointer;
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  .text-section {
    margin-left: 0;
    margin-top: .5rem;
  }
}